{% extends 'base.html' %}

{% block title %}Lista de Libros{% endblock %}

{% block content %}
<h2 class="mb-4">Libros</h2>
<div class="row">
    {% for libro in libros %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ libro.titulo }}</h5>
                    <p class="card-text">por {{ libro.autor }}</p>
                    <a href="{% url 'books:detail' libro.id %}" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
